@defer {
  <div class="row p-4">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Usuarios</h2>
      </div>
    </div>
    <div id="user-list-bg" class="col-12">
      <app-user-list
        (callModalAction)="callEdition($event)"
        (callDeleteAction)="userService.delete($event)"
        [users]="userService.users$()"
      />
      @if(userService.users$().length) {
        <app-pagination
          [service]="userService"
        />
      }
    </div>
    <button (click)="openAddUserModal()" type="button" class="btn btn-success">
      <i class="fas fa-plus"></i> Agregar Usuario
    </button>
  </div>
} @loading (minimum 1.5s){
  <app-loader></app-loader>
}

<ng-template #addUsersModal>
  <app-modal
    [hideFooter]="true"
    (callCancelMethod)="onModalClose()"
  >
    <div>
      <app-user-form
        [userForm]="userForm"
        [isEditMode]="isEditMode"
        [title]="isEditMode ? 'Editar Usuario' : 'Agregar Usuario'"
        (callSaveMethod)="saveUser($event)"
        (callUpdateMethod)="updateUser($event)"
        (callCancelMethod)="onModalClose()"
      />
    </div>
  </app-modal>
</ng-template>
