#user-list-bg {
  padding: 1%;
  background-color: #f0fcf7; // Pale green color
  border-radius: 0.5rem; // Optional: adds rounded corners for a nicer look
}

#user-list {
  background-color: #fafafb;
}