<section class="info-section">
  <div class="info-card">
    <h3>Misión</h3>
    <p>Creamos software de alta calidad, mediante una comunicación efectiva y una comprensión profunda de las ideas de nuestros clientes. Creamos soluciones a la medida, enfocadas en cubrir únicamente las funcionalidades necesarias para cada necesidad específica</p>
  </div>
  <div class="info-card">
    <h3>Visión</h3>
    <p>Aspiramos ser una empresa capaz de cumplir todas las metas de nuestros clientes, así como forjar un camino que permite una integración más cómoda para todos los eventuales usuarios de nuestros diferentes sistemas</p>
  </div>
  <div class="info-card">
    <h3>Valores</h3>
    <p>Calidad</p>
    <p>Responsabilidad</p>
    <p>Sinergia</p>
    <p>Sostenibilidad</p>
    <p>Transparencia</p>
  </div>
</section>

