<div class="eco-challenges">
  <h1>Retos</h1>
  <p>Revisa que retos debes completar!</p>

  <table>
    <thead>
      <tr>
        <th>Realizada</th>
        <th>Descripción</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let challenge of challenges">
        <td><input type="checkbox" [(ngModel)]="challenge.done"></td>
        <td>{{ challenge.description }}</td>
        <td>{{ challenge.points }}</td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <span class="coins">💰 {{ coins }}</span>
      <button  class="button" [routerLink]="['/app/Eco' ]">Modulo infantil</button>
      <button  class="button" [routerLink]="['/app/rewards']">Ver recompensas</button>
    
  </div>
</div>

