<footer class="footer">
  <div class="footer-content">
    <img src="/assets/img/logo/logoEco.png" class="footer-logo" />
    <p class="brand-name">Eco Asistente IA</p>
    <p>Correo de información</p>
    <form class="footer-form" (ngSubmit)="onSubmit()" #footerForm="ngForm">
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="micorreo@ejemplo.com"
        required
        email
        [disabled]="isSubmitting"
      />
      <button type="submit" [disabled]="footerForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Enviando...' : 'Solicitar información' }}
      </button>
    </form>
    <div class="footer-social">
      <!-- <img src="/assets/icons/socials/fb.png" class="icon fa fa-facebook"/>
      <img src="/assets/icons/socials/ig.png" class="icon fa fa-instagram"/>
      <img src="/assets/icons/socials/linkein.png" class="icon fa fa-linkedin"/> -->
    </div>
    <p>© 2025 Eco Asistente IA | Todos los derechos reservados</p>
  </div>
</footer>


