<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-center text-success">ID</th>
       <th scope="col" class="text-center text-success">Nombre</th>
        <th scope="col" class="text-center text-success">Apellido</th>
        <th scope="col" class="text-center text-success">Email</th>
        <th scope="col" class="text-center text-success">Creado</th>
        <th scope="col" class="text-center text-success">Actualizado</th>
        <th scope="col" class="text-center text-success">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of users; track item.id) {
         <tr class="text-center">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.email}}</td>
          <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>{{item.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <button (click)="callModalAction.emit(item);" class="btn btn-success" type="button">Editar</button>
            <button (click)="callDeleteAction.emit(item)" class="btn btn-danger" type="button">Eliminar</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7">
            <div class="d-flex justify-content-center align-items-center w-100">
              <p class="mb-0">No hay usuarios</p>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>