<div class="eco-rewards">
  <h1><i class="fa-solid fa-trophy"></i> Recompensas</h1>
  <p>Elije tus recompensas!</p>

  <div class="cards">
    <div class="card" *ngFor="let reward of rewards">
      <h2>{{ reward.name }}</h2>
      <span class="coins">💰 {{ reward.cost }}</span>
      <button (click)="claimReward(reward)">Jugar ahora</button>
    </div>
    <div class="card placeholder"></div>
  </div>

  <div class="actions">
    <span class="coins">💰 {{ coins }}</span>
     <button class="button" [routerLink]="['/app/Eco']"><i class="fa-solid fa-face-smile"></i>Modulo infantil</button>
    <button  class="button" [routerLink]="['/app/challenges']"><i class="fa-solid fa-award"></i>Ver retos</button>
   
  </div>
</div>

