<div class="d-flex align-items-center justify-content-center my-3">
  <nav aria-label="pagination">
    <ul class="pagination">
      <li class="page-item">
        <button (click)="onPage(1)" [disabled]="getCurrentPage() === 1" class="page-link">
          <i class="fas fa-angles-left"></i>
        </button>
      </li>
      <li class="page-item">
        <button (click)="onPage(getCurrentPage() - 1)" [disabled]="getCurrentPage() === 1" class="page-link">
          <i class="fas fa-angle-left"></i>
        </button>
      </li>
      @for (item of service.totalItems; track $index) {
        @if (getCurrentPage() - 2 <= item && item <= getCurrentPage() + 2) {
          <li class="page-item">
            <button [disabled]="getCurrentPage() === item" (click)="onPage(item)" class="page-link">{{item}}</button>
          </li>
        }
      }
      <li class="page-item">
        <button (click)="onPage(getCurrentPage() + 1)" [disabled]="getCurrentPage() === getTotalPages()" class="page-link">
          <i class="fas fa-angle-right"></i>
        </button>
      </li>
      <li class="page-item">
        <button (click)="onPage(getTotalPages())" [disabled]="getCurrentPage() === getTotalPages()" class="page-link">
          <i class="fas fa-angles-right"></i>
        </button>
      </li>
    </ul>
  </nav>
</div>