@defer {
    <div class="row p-4">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{user?.lastname}} Family</h2>
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="openAddFamilyModal()">
                    <i class="fas fa-plus"></i> Add Family Member
                </button>
            </div>
        </div>
        <div class="col-12">
            <app-family-list
                (callDeleteAction)="familyService.delete($event)"
                [families]="familyService.families$()"
            />
            @if(familyService.families$().length) {
                <app-pagination
                [service]="familyService"
                />
            }
        </div>
        
        <!-- Rewards Section -->
        <div class="col-12 mt-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Family Rewards</h2>
            </div>
            <app-reward-list
                (callDeleteAction)="rewardService.delete($event)"
                [rewards]="rewardService.rewards$()"
            />
            @if(rewardService.rewards$().length) {
                <app-pagination
                [service]="rewardService"
                />
            }
        </div>
    </div>
} @loading (minimum 1.5s){
    <app-loader></app-loader>
} 

<ng-template #addFamilyModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add Family Member</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddFamilyModal()">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        @if(!newSonUser) {
            <app-sign-up-form-for-family
                (userCreated)="onSonUserCreated($event)"
                (signupCancelled)="closeAddFamilyModal()"
            />
        } @else {
            <div class="text-center">
                <h4>Family Member Created Successfully!</h4>
                <p>{{newSonUser.name}} {{newSonUser.lastname}} has been added to your family.</p>
                <button type="button" class="btn btn-success" (click)="closeAddFamilyModal()">
                    <i class="fas fa-check"></i> Done
                </button>
            </div>
        }
    </div>
</ng-template>