#reward-list-bg {
  padding: 1%;
  background-color: #f0fcf7; // Pale green color
  border-radius: 0.5rem; // Optional: adds rounded corners for a nicer look
}

#family-list-bg {
  padding: 1%;
  background-color: #f0fcf7; // Pale green color
  border-radius: 0.5rem; // Optional: adds rounded corners for a nicer look
}

#challenge-list-bg {
  padding: 1%;
  background-color: #f0fcf7; // Pale green color
  border-radius: 0.5rem; // Optional: adds rounded corners for a nicer look
}

#family-list {
  background-color: #fafafb;
}

#reward-list {
  background-color: #fafafb;
}

#challenge-list {
  background-color: #fafafb;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
}